* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar-brand {
    font-size: 2rem;
    color: rgb(1, 1, 255);
}
.navbar-brand:hover {
    color: rgb(217, 255, 0);
}
.nav-link {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 1rem;
    font-weight: 700;
}
.search {
    height: 46px;
    width: 20%;
    border: 3px solid blue;
    border-radius: 60px;
    margin-right: -45px;
}
.btn0 {
    width: 7%;
    background-color: blue;
    border-radius: 60px;
    height: 46px;
    color: white;
}.container1{
    box-sizing: border-box;
    border: 3px solid #000000;
    border-radius: 14px;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.3);
    margin: 143px 321px 22px 268px;
    align-items: center;
    background-image: linear-gradient(blue, white);

}
img{
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
}
.card{
    align-items: center;
    border: 2px solid #000000;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.3);
    background-image: linear-gradient(beige, white);
    padding: 10px 10px 10px 10px;
    margin: 140px 243px 37px 466px
}